@import "tailwindcss";

@theme {
  --color-abyssal-green-500: #2e5339;   /* Verde profundo y enfermizo */
  --color-eldritch-purple-500: #4b2e4a; /* Púrpura arcano y misterioso */
  --color-deep-ocean-500: #1b2d3a;      /* Azul oscuro submarino */
  --color-necrotic-bone-500: #d8d3c3;   /* Marfil pálido, casi enfermizo */
  --color-insanity-pink-500: #a65e5e;   /* Rosa perturbador, ligeramente corrupto */
  --color-ritual-gold-500: #a28b45;     /* Oro antiguo y deslucido */
  --color-void-black-500: #0e0e10;      /* Negro profundo del vacío */
}
:root {
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
}

